.signup__h1 {
    display: flex;
    justify-content: center;
}

.signup__errors li{
    color: red;
}

.signup__form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.signup__form label{
    margin: 10px;
}

.signup__form input{
    float: right;
}

.signup__form button {
    background-color: red;
    color: white;
    border: 5px white;
    border-radius: 12px;
    width: 95px;
    height: 40px;
    align-self: center;
    margin: 5px;
}