body {
    padding: 0;
    margin: 0;
}

.artists__wrapper{
    /* border: 1px dotted black; */
    /* padding: 10px;
    margin: 10px; */
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
    
}

.artists__allArtists{
    /* border: 3px dotted red; */
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    padding: none;
    text-decoration: none;

}

.artists__ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    margin-left: 27%;
    list-style: none;
    padding: 0px;
    text-decoration: none;
}

.artists__li {
    flex-grow: 1;
    margin: 8px;
    max-width: 200px;
    text-decoration: none;
    
    /* background-color: black; */
    /* above line if commented in will darken on hover */
  }

  .artists__li a {
      text-decoration: none;
  } 

.artists__image {
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    text-decoration: none;
}

.artists__name {
    text-align: center;
    text-decoration: none;
    color: red;
}
