a {
    cursor: pointer;
}

button {
    cursor: pointer;
}


.edit-caption-btn-edit {
    text-decoration: none;
    background-color: white;
    border: none;
    font-weight: bold;
}

.edit-caption-btn-edit:enabled {
    text-decoration: none;
    background-color: white;
    border: none;
    font-weight: bold;
    color: red
}

.edit-caption-btn-cancel {
    text-decoration: none;
    background-color: white;
    border: none;
    font-weight: bold;
    color: red
}