.artist__wrapper{
    padding: 10px;
    margin: 10px;
    display: flex;
    width: 97%;
    justify-content: center;
    align-items: center;
    
}

.artist__oneArtist{
    /* border: 3px dotted red; */
    display: flex;
    max-width: 50%;
    padding: none;
    flex-direction: column;
}

.artist__imageDiv {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px;
    padding: 0px;
    
}

.artist__image{
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}



.artist__nameDiv {
    margin: 10px;
    text-align: center;
}

.artist__followButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.artist__followButton button{
    background-color: red;
    color: white;
    border: 5px white;
    border-radius: 12px;
    width: 95px;
    height: 40px;
    align-self: center;
}