

li {
    list-style: none;
    font-family: 'Work Sans', sans-serif;
}

.venues__wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;

}

.venues__allVenues {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    padding: none;
    text-decoration: none;
}

.venues__ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.venues__li {
    flex-grow: 1;
    margin: 8px;
    max-width: 200px;
    text-decoration: none;
}

.venues__li a {
      text-decoration: none;
  } 

.venues__image {
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    text-decoration: none;
}

.venues__name {
    text-align: center;
    text-decoration: none;
    color: red;
}